@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Debajo puedes mantener tu estilo de body si quieres */
body {
  padding: 0;
  margin: 0;
  background: #000000;
  color: white;
  font-family: "Open Sans";
}